:root {
  --cinza: #aaa;
  --laranja: #E37A10;
  --laranja-escuro: #954E06;
  --branca: #fff;
  --luz: rgb(241, 253, 131);
}

body {
  align-items: center;
  background: linear-gradient(45deg, #002cbe 0%,#FFFFFF 100%);
  display: flex;
  justify-content: center;  
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1 {
  color: var(--branca);
  margin-bottom: 25px;
  font-size: 3.5rem;
  text-shadow: 2px 2px #002cbe;
}

.teclado {
  background: linear-gradient(45deg, #FFFFFF 0%, #818181 100%);
  box-shadow: 6px 8px 0 6px rgb(216, 216, 216), 10px 10px 20px rgb(0, 0, 0);
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  background-color: var(--branca);
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--laranja);
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--laranja);
  border: 4px solid  var(--laranja);
  box-shadow: 3px 3px 0 var(--laranja-escuro) inset;
  color: var(--branca);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--laranja-escuro) inset, 1px 1px 10px var(--luz);
}
